.vertical-slider {
  height: 350px; /* Adjust as needed */
  width: 12px; /* Adjust as needed */
  background: #a71b1b95; /* This color will be the track color when no track element is used */
}

.thumb {
  height: 14px; /* Adjust as needed */
  line-height: 14px; /* Adjust as needed */
  width: 14px; /* Adjust as needed */
  text-align: center;
  background-color: #953c96;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
}

.track {
  top: 0;
  bottom: 0;
  background: #000; /* This will be the track color */
  border-radius: 999px;
}

.rotate-progress {
  transform: rotate(-90deg);
  height: 350px; /* Adjust as needed */
  width: 20px; /* You can adjust the width as per your needs */
}
